.container {
    max-width: 900px;
    margin: 0 auto;
}

.topGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.topList {
    width: 300px;
    padding: 20px 10px;
}

@media (min-width: 700px) {
    .topList {
    }
}
